name: JackalBot

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: "14.x"
    - name: install dependencies
      run: yarn
    - name: check for lint issues
      run: yarn lint
    - name: build
      run: yarn build
    - name: run tests
      run: yarn test
      env:
        CI: true
